# Compiled JavaScript files
lib/
*.js
*.js.map

# TypeScript cache
*.tsbuildinfo

# Node.js dependencies
node_modules/

# Firebase cache
.firebase/

# Local environment files
.env
.env.local
.runtimeconfig.json

# Logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug.*.log*
